In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [52]:
class LinearRegression:
    def __init__(self,row,col,iterations,learn_rate):
        self.dims = col
        self.numDataPts = row
        self.iter = iterations
        self.w = np.random.rand(1,self.dims)
        self.b = 0
        self.learn_rate = learn_rate
    def fit(self,X,y):
        for i in range(self.iter):
            #self.b = [self.b]
            y_hat = np.matmul(self.w,X.T)+self.b
            dw = np.matmul((y.T-y_hat),X)*(1/self.numDataPts)
            db = np.sum(y.T - y_hat)*(1/self.numDataPts)
            self.w = self.w - self.learn_rate*dw
            self.b = self.b - self.learn_rate*db
    
    def predict(self,X_test):
        return np.matmul(self.w,X_test.T)+self.b

In [53]:
data = pd.read_csv('./data_1/Real estate.csv')

In [54]:
data.shape

(414, 8)

In [55]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [56]:
X=data.iloc[:,2:-1]
X.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,32.0,84.87882,10,24.98298,121.54024
1,19.5,306.59470,9,24.98034,121.53951
2,13.3,561.98450,5,24.98746,121.54391
3,13.3,561.98450,5,24.98746,121.54391
4,5.0,390.56840,5,24.97937,121.54245

In [57]:
y = data.iloc[:,[-1]]
y.head()

   Y house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1

In [58]:
sc = StandardScaler()
sc.fit(X)
X_scaled = sc.transform(X)

In [59]:
X_scaled.shape

(414, 5)

In [60]:
X_scaled

array([[ 1.25562833, -0.79249504,  2.00740743,  1.12542986,  0.44876222],
       [ 0.15708622, -0.61661163,  1.66750286,  0.91244418,  0.40113894],
       [-0.38779067, -0.41401527,  0.30788458,  1.48686011,  0.68818339],
       ...,
       [ 0.09556786, -0.54967846,  0.98769372,  0.82289338,  0.42397202],
       [-0.84478419, -0.77668389,  0.30788458, -0.18475479,  0.4768143 ],
       [-0.98539758, -0.78807071,  1.66750286,  0.42757905,  0.63534112]])

In [61]:
y = y.to_numpy()
y.shape

(414, 1)

In [107]:
model = LinearRegression(X_scaled.shape[0],X_scaled.shape[1],10,0)

In [108]:
model.fit(X_scaled,y)

In [109]:
def prediction(model):
    l=[19.5,306.59470,9,24.98,121.53]
#     l.append(float(input('Enter House Age: ')))
#     l.append(float(input('distance to the nearest MRT station: ')))
#     l.append(float(input('number of convenience stores: ')))
#     l.append(float(input('Latitude: ')))
#     l.append(float(input('Longitude: ')))
    arr = np.asarray([l])
    scaled_arr = sc.transform(arr)
    print('Price of the house per unit area: ', model.predict(scaled_arr)[0][0])

In [110]:
prediction(model)

Price of the house per unit area:  0.5888071457704703

/home/vashist/anaconda3/lib/python3.9/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(